


/* header css end */



/* header styles start */

header {
  background-color: #0c6980;
  display: block;
  padding: 20px 0;
  height: auto;
}

#navigation {
  background: #000;
  padding-left: 2px;
  padding-right: 2px;
}


.navbar-custom {

background-color: rgba(116, 114, 114, 0.263);

}

.navbar,
.dropdown-list {
 
  position: relative;
}


.navbar li {
  display: inline;
  
}

.navbar li a,
.navbar li.dropdown {
  color: #fff;
  text-decoration: none;
  padding-left: 2px;
  margin-left: 20px;

}

.navbar li.dropdown {
  padding: 0;
  margin: 0;
}

.navbar li.dropdown a {
  display: block;
}

.navbar li.active .dropdown-list li a {
  background: #000;
  color: #fff;
}

.navbar li.active a,
.navbar li.active .dropdown-list li.active a {
  background: #ffa300;
  color: #000;
}

.heading,
.logo,
.user {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}

.user {
  text-align: right;
  vertical-align: middle;
  width: 230px;
  max-width: 100%;
}

.user p {
  margin-top: 0;
  color: #fff;
}

.user p strong {
  text-transform: uppercase;
}

.logout,
.login {
  padding: 5px 15px;
  background: #fff;
  color: #000066;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
}

.heading h1 {
  color: #ffffff;
  /* font-family: Arial Black; */
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 250px ;
}

.container1 {
  width: 980px;
  padding: 0 15px;
  margin: 0 auto;
  float: none;
}

hr {
  border: 2px solid #210b61;
  margin-top: 15px;
  clear: both;
}

.logo #logo-img {
  width: 130px;
}




/* header css end */

/* ------------------ New footer------------------------- */

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background: #09738d;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #2B3856 ;
  color:floralwhite;
}

.navclr{
  background-color: #282c34;
  font-family:Helvetica;
}

address{
  font-size:80%;
  margin:0px;
  color:#fff8f8;
}

.navbar-dark {
  background-color: #00a8a8;
}

.bt{
  margin-right: 5px;
}

/*Notice */

@media (min-width: 0) {
  .g-mr-15 {
      margin-right: 1.07143rem !important;
  }
}
@media (min-width: 0){
  .g-mt-3 {
      margin-top: 0.21429rem !important;
  }
}

.g-height-50 {
  height: 50px;
}

.g-width-50 {
  width: 50px !important;
}

@media (min-width: 0){
  .g-pa-30 {
      padding: 2.14286rem !important;
  }
}

.g-bg-secondary {
  background-color: #fafafa !important;
}

.u-shadow-v18 {
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
  color: #777 !important;
}

.g-font-size-12 {
  font-size: 0.85714rem !important;
}

.media-comment {
  margin-top:20px
}

.paperdownload{
  margin-top:60px;
  margin-left:20px;
  
}




.hstyle{
  font-family:Helvetica; color:darkblue
}
