.form2{

    display: inline-block;

    text-align: left;

    background: rgb(254, 255, 255);

    width: 800px;

    height: 1200px;

    border-radius: 5px;

    padding: 30px 20px 0 20px;

    box-shadow: 0 10px 50px 0 rgb(140, 206, 239);

    box-sizing: border-box;

  }

  .myInput {
   
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 16px;
    padding: 12px 2px 12px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-left: 900px;
    margin-right: 200px;
    border-radius: 10px;
    border-color: gray;
    border-width: 2px;
    margin-top: 10px;
  }
  

  .myInputprint {
   
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 25%;
    font-size: 16px;
    padding: 12px 2px 12px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    
   
    border-radius: 10px;
    border-color: gray;
    border-width: 2px;
    margin-top: 10px;
  }

  .buttonview {

    background-color: #191970;
    color: white;
    padding: 7px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border:2px solid #e7e7e7;

  }